/*Create  by: Nelson Estuardo Rodriguez Matul
25/02/2020
All right reserved*/
@font-face {
    font-family: Quicksand;
}
* {
    font-family: Quicksand;
}

html, body {
    height:100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
}



.menu > ul > li > a {
    text-decoration: none;
    font-size: 1.6em;
    margin: 0 1em;
    color: black;
}
.portrait {
    background-image: url("../images/portrait.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.logotype {
    display: inline-block;
    width: 30%;
    max-width: 30%;
    margin: 10px 0;
}
.imgLogotype {
    width: 60%;
    margin-left: 10%;
    height: 70px;
    max-height: 70px;
}
.menu {
    display: inline-block;
    float: right;
    width: 70%;
    max-width: 70%;
    margin-top: 35px;
    text-align: center;
}



.backgroundLogin {
    background-image: url("../images/background_login.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}


.formLogin {
    border-radius: 20px;
    padding: 50px 100px;
    opacity: 0.7;
    background-color: #e1e1e1;
}
