.dropdown-content {
    width: 135px !important;
}

.colorSystem {
    background: #ff7f50 !important;
}
.A, .A:active, .A:hover {
    color: #a0c5e8 !important;
    font-weight: bold;
}

.tabs .indicator {
    background: #ff7f50 !important;
}

.sidenav {
    background: #ff7f50 !important;
}
.sidenav li {
    width: 80%;
    margin-left: 10%;
}
.sidenav li:hover {
    background: #ed8929 !important;
}
.sidenav li>a {
    color: white;
    border-bottom: 2px solid white;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    background: #d9d9d9;
}


.gridNavWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'none menu icon';
}
.item1 {
    grid-area: none;
}
.item2 {
    grid-area: menu;
}


/*ALERTS OUTLINES*/
.alert-success-outline{
    border-color: #00a65a !important;
    border-radius: 4px;
    background: white;
    color: #00a65a !important;
}
.alert-danger-outline{
    border-color: #dd4b39 !important;
    border-radius: 4px;
    background: white;
    color: #dd4b39 !important;
}
.alert-default-outline{
    border-color: #8c8c8c !important;
    border-radius: 4px;
    background: white;
    color: #8c8c8c !important;
}
.alert-warning-outline{
    border-color: #d58512 !important;
    border-radius: 4px;
    background: white;
    color: #d58512 !important;
}
.alert-primary-outline{
    border-color: #2e6da4 !important;
    border-radius: 4px;
    background: white;
    color: #2e6da4 !important;
}

/*BUTTONS OUTLINE*/
.btn-primary-outline {
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #2e6da4 !important;
}
.btn-primary-outline.focus,
.btn-primary-outline:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}
.btn-primary-outline:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}
.btn-primary-outline.active,
.btn-primary-outline:active,
.open>.dropdown-toggle.btn-primary-outline {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}
.btn-primary-outline.active.focus,
.btn-primary-outline.active:focus,
.btn-primary-outline.active:hover,
.btn-primary-outline:active.focus,
.btn-primary-outline:active:focus,
.btn-primary-outline:active:hover,
.open>.dropdown-toggle.btn-primary-outline.focus,
.open>.dropdown-toggle.btn-primary-outline:focus,
.open>.dropdown-toggle.btn-primary-outline:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}
.btn-primary-outline.active,
.btn-primary-outline:active,
.open>.dropdown-toggle.btn-primary-outline {
    background-image: none
}
.btn-primary-outline.disabled.focus,
.btn-primary-outline.disabled:focus,
.btn-primary-outline.disabled:hover,
.btn-primary-outline[disabled].focus,
.btn-primary-outline[disabled]:focus,
.btn-primary-outline[disabled]:hover,
fieldset[disabled] .btn-primary-outline.focus,
fieldset[disabled] .btn-primary-outline:focus,
fieldset[disabled] .btn-primary-outline:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}
.btn-primary-outline .badge {
    color: #337ab7;
    background-color: #fff
}
.btn-success-outline {
    color: #5cb85c;
    background-color: #ffffff;
    border: 1px solid #4cae4c !important;
}
.btn-success-outline.focus,
.btn-success-outline:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}
.btn-success-outline:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}
.btn-success-outline.active,
.btn-success-outline:active,
.open>.dropdown-toggle.btn-success-outline {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}
.btn-success-outline.active.focus,
.btn-success-outline.active:focus,
.btn-success-outline.active:hover,
.btn-success-outline:active.focus,
.btn-success-outline:active:focus,
.btn-success-outline:active:hover,
.open>.dropdown-toggle.btn-success-outline.focus,
.open>.dropdown-toggle.btn-success-outline:focus,
.open>.dropdown-toggle.btn-success-outline:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}
.btn-success-outline.active,
.btn-success-outline:active,
.open>.dropdown-toggle.btn-success-outline {
    background-image: none
}
.btn-success-outline.disabled.focus,
.btn-success-outline.disabled:focus,
.btn-success-outline.disabled:hover,
.btn-success-outline[disabled].focus,
.btn-success-outline[disabled]:focus,
.btn-success-outline[disabled]:hover,
fieldset[disabled] .btn-success-outline.focus,
fieldset[disabled] .btn-success-outline:focus,
fieldset[disabled] .btn-success-outline:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-success-outline .badge {
    color: #5cb85c;
    background-color: #fff
}
.btn-warning-outline {
    color: #f0ad4e;
    background-color: #ffffff;
    border: 1px solid #eea236 !important;
}
.btn-warning-outline.focus,
.btn-warning-outline:focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d
}
.btn-warning-outline:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}
.btn-warning-outline.active,
.btn-warning-outline:active,
.open>.dropdown-toggle.btn-warning-outline {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}
.btn-warning-outline.active.focus,
.btn-warning-outline.active:focus,
.btn-warning-outline.active:hover,
.btn-warning-outline:active.focus,
.btn-warning-outline:active:focus,
.btn-warning-outline:active:hover,
.open>.dropdown-toggle.btn-warning-outline.focus,
.open>.dropdown-toggle.btn-warning-outline:focus,
.open>.dropdown-toggle.btn-warning-outline:hover {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d
}
.btn-warning-outline.active,
.btn-warning-outline:active,
.open>.dropdown-toggle.btn-warning-outline {
    background-image: none
}
.btn-warning-outline.disabled.focus,
.btn-warning-outline.disabled:focus,
.btn-warning-outline.disabled:hover,
.btn-warning-outline[disabled].focus,
.btn-warning-outline[disabled]:focus,
.btn-warning-outline[disabled]:hover,
fieldset[disabled] .btn-warning-outline.focus,
fieldset[disabled] .btn-warning-outline:focus,
fieldset[disabled] .btn-warning-outline:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}
.btn-warning-outline .badge {
    color: #f0ad4e;
    background-color: #fff
}
.btn-danger-outline {
    color: #d9534f;
    background-color: #ffffff;
    border: 1px solid #d43f3a !important;
}
.btn-danger-outline.focus,
.btn-danger-outline:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}
.btn-danger-outline:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}
.btn-danger-outline.active,
.btn-danger-outline:active,
.open>.dropdown-toggle.btn-danger-outline {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}
.btn-danger-outline.active.focus,
.btn-danger-outline.active:focus,
.btn-danger-outline.active:hover,
.btn-danger-outline:active.focus,
.btn-danger-outline:active:focus,
.btn-danger-outline:active:hover,
.open>.dropdown-toggle.btn-danger-outline.focus,
.open>.dropdown-toggle.btn-danger-outline:focus,
.open>.dropdown-toggle.btn-danger-outline:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}
.btn-danger-outline.active,
.btn-danger-outline:active,
.open>.dropdown-toggle.btn-danger-outline {
    background-image: none
}
.btn-danger-outline.disabled.focus,
.btn-danger-outline.disabled:focus,
.btn-danger-outline.disabled:hover,
.btn-danger-outline[disabled].focus,
.btn-danger-outline[disabled]:focus,
.btn-danger-outline[disabled]:hover,
fieldset[disabled] .btn-danger-outline.focus,
fieldset[disabled] .btn-danger-outline:focus,
fieldset[disabled] .btn-danger-outline:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}
.btn-danger-outline .badge {
    color: #d9534f;
    background-color: #fff
}
.btn-default-outline {
    color: #ffffff;
    background-color: #333;
    border: 1px solid #ccc !important;
}
.btn-default-outline.focus,
.btn-default-outline:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}
.btn-default-outline:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-default-outline.active,
.btn-default-outline:active,
.open>.dropdown-toggle.btn-default-outline {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-default-outline.active.focus,
.btn-default-outline.active:focus,
.btn-default-outline.active:hover,
.btn-default-outline:active.focus,
.btn-default-outline:active:focus,
.btn-default-outline:active:hover,
.open>.dropdown-toggle.btn-default-outline.focus,
.open>.dropdown-toggle.btn-default-outline:focus,
.open>.dropdown-toggle.btn-default-outline:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}
.btn-default-outline.active,
.btn-default-outline:active,
.open>.dropdown-toggle.btn-default-outline {
    background-image: none
}
.btn-default-outline.disabled.focus,
.btn-default-outline.disabled:focus,
.btn-default-outline.disabled:hover,
.btn-default-outline[disabled].focus,
.btn-default-outline[disabled]:focus,
.btn-default-outline[disabled]:hover,
fieldset[disabled] .btn-default-outline.focus,
fieldset[disabled] .btn-default-outline:focus,
fieldset[disabled] .btn-default-outline:hover {
    background-color: #fff;
    border-color: #ccc
}
.btn-default-outline .badge {
    color: #fff;
    background-color: #333
}

/*STYLES TO <P>*/
.strLeft{
    float: left;
    color: black;
    width: 65px;
}
.strRight{
    float: right;
    font-weight: 100;
}
.strNoMargin {
    margin: 0;
    padding: 0;
}


#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: Quicksand;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: Quicksand;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


.titleRoute {
    color: #9d9d9d;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
}


select input {
    border-radius: 10px !important;
}
